language: python
sudo: false
cache: pip

python:
  - "2.7.13"

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility

env:
  global:
  - VERSION="10.0" TESTS="0" LINT_CHECK="0" MAKEPOT="0" WKHTMLTOPDF_VERSION="0.12.4"
  matrix:
  - LINT_CHECK="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" MAKEPOT="1" LINT_CHECK="0" EXCLUDE=sale_delivery_split_date,sale_stock_picking_blocking_proc_group_by_line,sale_sourced_by_line,sale_procurement_group_by_line
  - TESTS="1" ODOO_REPO="OCA/OCB" LINT_CHECK="0" EXCLUDE=sale_delivery_split_date,sale_stock_picking_blocking_proc_group_by_line,sale_sourced_by_line,sale_procurement_group_by_line
  - TESTS="1" ODOO_REPO="odoo/odoo" MAKEPOT="1" LINT_CHECK="0" INCLUDE=sale_delivery_split_date,sale_stock_picking_blocking_proc_group_by_line,sale_sourced_by_line,sale_procurement_group_by_line
  - TESTS="1" ODOO_REPO="OCA/OCB" LINT_CHECK="0" INCLUDE=sale_delivery_split_date,sale_stock_picking_blocking_proc_group_by_line,sale_sourced_by_line,sale_procurement_group_by_line

install:
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
