<?xml version="1.0" encoding="utf-8"?>
<!--
  © 2014-2016 Akretion (http://www.akretion.com/)
  @author Alexis de Lattre <alexis.delattre@akretion.com>
  Copyright 2016 Sodexis
  License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->

<odoo>

<menuitem id="sale_rental_menu" parent="sale.sale_order_menu"
    action="sale_rental_action" sequence="2"/>

</odoo>
