<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright 2017 Eficent Business and IT Consulting Services, S.L.
    License LGPL-3.0 or later (https://www.gnu.org/licenses/lgpl.html).
-->

<odoo>

    <menuitem action="sale_invoice_group_method_action"
              id="menu_invoice_group_method"
              name="Invoice Group Method"
              parent="sale.menu_sales_config"
              sequence="100"/>

</odoo>
