<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2016-Today GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
 -->
<openerp><data>

    <menuitem id="menu_product_margin_classification"
        parent="base.menu_product"
        action="action_product_margin_classification"
        sequence="15"/>

</data></openerp>
